<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create a link</title>
        <style>
            * {
                font-family: sans-serif;
            }

            body {
                background-color: #000000;
                color: #ffffff;
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        <h1>Create a link</h1>
        <h2>Create</h2>
        <form action="/new" action="post">
            <input
                type="url"
                name="url"
                placeholder="URL"
                autocomplete="false"
                autofocus
            />
            <input type="submit" value="Create URL" />
        </form>

        <h2>Where does this ID redirect?</h2>
        <form id="where" method="get" action="/which">
            <input
                id="id"
                name="id"
                placeholder="Redirect ID"
                type="text"
                spellcheck="false"
            />
            <input type="submit" />
        </form>

        <div class="result"></div>

        <footer>
            <p>Site by <a href="https://namd.dev/">NotAMojangDev</a></p>
        </footer>
    </body>
</html>
